<h2>TODO App</h2>
<%= link_to "Todoリストを作成", new_task_path %>

<h2>Todoリスト</h2>
<%# binding.pry %>
<% @tasks.each do |task| %>
  <p>・<%= link_to task.title, task_path(task) %><%= button_to "編集", edit_task_path(task), method: :get %><%= button_to "削除", task_path(task), method: :delete %></p>
<% end %>
